body {
    color: var(--secondary);

    margin: 0;
    padding: 8rem 0;
    
    font-size: 0.92rem;
    font-family: JetBrainsMono, PingFang SC, HarmonyOS_Regular, 'Helvetica Neue', 'Microsoft YaHei', monospace;
    letter-spacing: 0.6px;
    
    @media (prefers-color-scheme: dark) {
        background-color: #121212;
    }

    & > * {
        max-width: 48rem;
        margin: 0 auto;
        padding: 0 1.6rem;
        box-sizing: border-box;
    }

    & > header {
        h1 {
            margin: 0;
        }
        p {
            margin: 2rem 0 0;
        }
    }

    & > main {
        margin-top: 4rem;
        @import './markdown-body.scss';
    }

    & > footer {
        margin-top: 4rem;
    }
}