:root {
    --primary: black;
    --secondary: #767676;
    --thirdly: #fbfbfb;
    --accent: #6054ba;
    --background: #fff;
    --link-border: #ddd;

    @media (prefers-color-scheme: dark) {
        --primary: white;
        --thirdly: #191919;
        --background: #111111;
        --link-border: #333;
    }
}

body {
    color: var(--secondary);
    background-color: var(--background);
    margin: 0;
    padding: 4rem 0 2rem 0;
    letter-spacing: 0.5px;
    // 'Trebuchet MS', 'Optima-Regular', 'PingFangTC-light',
    font-family: Arial, 'PingFang SC', 'HarmonyOS_Regular', 'Helvetica Neue', 'Microsoft YaHei', monospace;

    & > * {
        max-width: 48rem;
        margin: 0 auto;
        padding: 1rem 1.6rem;
        box-sizing: border-box;
    }

    & > main {
        @import './markdown-body.scss';
    }
}

a {
    color: var(--secondary);
    text-decoration: none;
    border-bottom: 1px solid;
    border-color: var(--link-border);
    transition: all 500ms ease-in-out;
    &:hover {
        color: var(--accent);
        border-color: currentColor;
    }
}

code {
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary);
}

::selection {
    color: white;
    background-color: var(--accent);
}
